@charset "utf-8";
/* CSS Document */

/**20141103**/

#footbox-n { position:relative; margin:0 auto; width:640px; padding-top:10px; padding-bottom:20px;}

/* 修改于:20150119 by:lxm
#logolink{ height:7px !important; background-color:#03357C; line-height:7px !important; font-size:0px;}
*/
#logolink{ height:16px !important; background-color:#03357C; line-height:7px !important; font-size:0px;}



